/* Initialize box-model */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

// @import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Asap|Roboto|Open+Sans');

body {
  background-color: $background-black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: $black-content-color;
}

h1 {
  font-size: $title-size;
  font-weight: 100;
}

p, li {
  font-size: $small-content-size;
  line-height: 1.5;
}