$dark: rgb(15, 17, 26);
$white: #eee;
$green: rgb(128, 203, 196);
$blue: rgb(60, 60 , 255);
$light-blue: rgb(220, 220, 255);
$orange: rgb(240, 40, 40);
$spirit-color: rgb(130, 230, 240);

// Define width breakpoint
$container-max-width: 1240px;

// RWD breakpoints
$break-big: 1200px;
$break-middle: 900px;
$break-small: 768px;

//theme style
$grey-1 : #27292A; 

%content-in-center {
  display: flex;
  align-items: center;
  justify-content: center;
}